@keyframes slide-in-left {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(500px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes open-up-x {
    from {
        transform: scaleX(0);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes open-up-y {
    from {
        transform: skewY(30deg);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}