.content {
    line-height: 2;
}

.content > * {
    margin: 1.5rem 0;
}

.content h1, 
.content h2, 
.content h3 {
    line-height: 1.5;
}

.content h1 { font-size: 2.5rem; }
.content h2 { font-size: 2rem; }
.content h3 { font-size: 1.5rem; }

.content h2 > a,
.content h2 > a:hover {
    color: var(--light);
    cursor: text;
}