html {
    color: var(--light);
}

* {
    color: inherit;
    margin: 0;
}

.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
}
.h1 { font-size: 3rem; }
.h2 { font-size: 2.5rem; }
.h3 { font-size: 2rem; }
.h4 { font-size: 1.5rem; }
.h5 { font-size: 1.25rem; }

/* links */
a {
    text-decoration: none;
    color: var(--primary);
    transition: 0.25s color ease-in-out;
}

a:hover,
a:active {
    color: var(--success);
}

a > .icon {
    color: inherit;
}

/* box */
.box {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background: var(--info);
    border-radius: 20px;
}

.box.big {
    padding: 1rem 1rem;
}

.box-padding {
    padding: 0.5rem 1rem;
}

/* hr */
hr {
    margin: 0.75rem 0;
    height: 2px;
    background: var(--light);
    border: none;
    border-radius: 20px;
}

/* placeholder */
::placeholder {
    color: var(--placeholder);
}