html, body, main {
    background-color: var(--dark) !important;
    height: 100vh;
    overflow: hidden !important;
}

html {
    font-size: 16px;
}

@media (max-width: 650px) {
    html {
        font-size: 14px;
    }
}

#__nuxt {
    text-align: center;
}

main {
    width: 75rem;
    display: inline-flex;
    position: relative;
}

@media screen and (max-width: 75rem){
    main {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    main {
        flex-direction: column;
    }
}

.page {
    text-align: left;
    flex: 1;
    margin: 2rem;
    padding-right: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media screen and (max-width: 500px) {
    .page {
        margin: 1rem 0;
        padding: 0 1.5rem;
    }
}